*
{
    margin: 0;
    padding: 0;
    box-sizing: content-box;

}
/*******************************Navbar********************************/
.navbar-expand-lg 
{
    position: fixed;
    z-index: 99;
    width: 100%;
}
.nav-link
{
    color: white !important;
    margin-left: 4rem;
    font-size: 1.4rem;
}
.nav-link:hover
{
    color: yellowgreen !important;
}
.navbar-brand
{
    color: white !important;
    font-size: 1.4rem;
}
.form-control 
{
    margin-right: 2rem!important;
}
.btn-outline-success 
{
    margin-right: 10rem!important ;
}
.ShoppingCart
{
    font-size: 2rem;
 
    color: red;
}
.cartQuantity
{
font-size: 1.6rem;
color: yellow;
margin-right: 5rem;
margin-top: -2.6rem;

}
/***********************************Items*****************************/
.card
{
    width:20rem;
    height: 30rem;
    display: inline-block;
    margin-top: 6rem;
    margin-left: 5rem;
    margin-right: 2rem;
    background-color: aliceblue
   
   
}
.card-title
{
    
    text-align: center;


}
.card-text
{
    text-align: center;
 
}

.inc-dec
{
    display: inline-block;
    margin-left: 1.4rem;
  
}
.increment,.decrement
{
    width: 2rem;
    font-size: 1.2rem;
    font-weight: bolder;
    cursor: pointer;

}
.card-img-top
{
    display: inline-block;
    height: 20rem;
    padding: 12px 12px;
    border-radius: 1.4rem;
    width: 18rem;
    
    
}



